$brand-size: 20px;

.brand-link {
	text-decoration: none !important;
	& + .tagline {
		font-size: $brand-size/2 + 5;
		margin-left: 30px;
	}
}

.safrazik {
	font-family: Arial, sans-serif;
	font-size: $brand-size;
	color: #000;
	font-weight: bold;
	text-transform: uppercase;
	position: relative;
	.saf, .first.raz, .raz.last, .ik {
		border: 0;
		display: inline-block;
		position: relative;
		z-index: 1;
		padding: 0;
	}
	.raz.last, .ik {
		background: #DDD;
		position: absolute;
		z-index: 0;
		margin-top: 1px;
		color: #FFF;
		transition: margin-top 300ms;
	}
	.raz.last {
		padding-left: 3px;
		margin-left: -1*$brand-size*2 - 2;
	}
	.ik {
		padding-left: 1px;
		padding-right: 2px;
		// left: $brand-size*4;
	}

}

a.brand-link:hover .safrazik {
	.raz.last, .ik {
		margin-top: $brand-size/2;
		margin-top: $brand-size + 5;
	}
}