{% raw %}
<div>
  <VueFileAgent
    v-model="filesData"
    @select="filesSelected($event)"
    deletable
    :theme="theme"
    @delete="fileDeleted($event)"
  >
    <template v-slot:before-outer>
      <div class="mb-3 text-right">
        Switch theme to
        <!-- <a href="#" @click.prevent="switchTheme()">Switch</a> -->
        <button class="btn btn-sm btn-outline-warning" @click="switchTheme()">
          <span v-if="theme != 'list'">List View</span>
          <span v-if="theme == 'list'">Grid View</span>
        </button>
      </div>
    </template >
  </VueFileAgent>
<!--   <div>
    Move: <input type="number" ref="moveInput" value="1">
    <button @click="moveIndex(-1)">&lt;&lt;</button>
    <button @click="moveIndex(1)">&gt;&gt;</button>
  </div> -->
  <!-- </div> -->
<!--   <div>
    <button @click="removeAll()">Remove All</button>
    <input type="number" ref="removeIdx" value="1">
    <button @click="remove()">Remove</button>
    <button @click="sortBy('lastModified')">Sort by Last Modified</button>
    <button @click="sortBy('name')">Sort by Name</button>
  </div> -->
  <!-- </div></div> -->
</div>
{% endraw %}