  <script type="text/x-template" id="demo-basic-template">
    {% include_relative website/demo/basic.html %}
  </script>
  <script type="text/javascript" id="demo-basic-script">
    (function(){
      {% include_relative website/demo/basic.js %}
      component.template = '#demo-basic-template';
      var vm = new Vue({
        el: '#demo-basic-mount',
        components: {'demo-basic': component},
      });
    })();
  </script>

  <script type="text/x-template" id="demo-advanced-template">
    {% include_relative website/demo/advanced.html %}
  </script>
  <script type="text/javascript" id="demo-advanced-script">
    (function(){
      {% include_relative website/demo/advanced.js %}
      component.template = '#demo-advanced-template';
      var vm = new Vue({
        el: '#demo-advanced-mount',
        components: {'demo-advanced': component},
      });
    })();
  </script>