---
layout: default
---

<div id="app" class="w-100 h-100">
  <div class="cover-body text-center d-flex w-100 xh-100">
    <div class="text-center cover-container container w-100 xh-100 p-3 mx-auto d-flex flex-column">
      <header class="masthead clearfix mb-auto">
        <div class="inner">
          <div class="masthead-brand">              
            <div class="text-mutedx" style="color: #ACB5BD">
              <p>
                Every file deserves to be treated equally
              </p>
            </div>
          </div>
        </div>
      </header>

      <main role="main" class="inner cover my-5">
<!--             <h1 class="cover-heading">Cover your page.</h1>
        <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p> -->
        <!-- <demo-basic></demo-basic> -->
        <div class="markdown-body-alt" v-pre>
          {{ content }}
        </div>
<!--             <p class="lead">
          <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
        </p> -->
      </main>

      <footer class="mastfoot mt-auto">
        <div class="inner">
        <p class="lead-old">
          <!-- <a href="#" class="btn btn-lg btn-secondary">Get Started</a> -->
           <!-- by <a href="https://twitter.com/safrazik">@safrazik</a>.</p> -->
           <!-- Scroll down for  -->

          Designed with love by <a class="text-white" href="https://twitter.com/safrazik" target="_blank">@safrazik</a>
        </p>
           <!-- by <a href="https://twitter.com/safrazik">@safrazik</a>.</p> -->
        </div>
      </footer>
    </div>
  </div>
</div>