---
layout: default
external_urls: false
---

<script type="text/javascript">
  {% include_relative src/demo/demo-base.js %}
</script>
<div id="app">
  <div class="container">
    <div id="docs" name="docs"></div>
    <div class="markdown-body" style="margin: 40px 0;">
      {{ content }}
    </div>
  </div>
  <div class="advanced-demo-wrapper">
    <div class="container">
      <div id="demo-advanced-wrapper">
        {% capture demo_advanced %} {% include_relative src/demo/demo-advanced.vue %} {% endcapture %} {%
        include_relative website/includes/vue-code.md name="demo_advanced" code=demo_advanced result_only=true %}
      </div>
    </div>
  </div>
</div>
