---
layout: default
external_urls: true
---

<div id="app">
  <div class="container">
    <div id="docs" name="docs"></div>
    <div class="markdown-body" style="margin: 40px 0;">
      {{ content }}
    </div>
  </div>
  <div class="container">
    <div id="demo-advanced-wrapper">
      {% capture demo_advanced %}
        {% include_relative src/demo/demo-advanced.vue %}
      {% endcapture %}
      {% include_relative website/includes/vue-code.md name="demo_advanced" code=demo_advanced result_only=true %}
    </div>
  </div> 
  <div class="bg-secondary text-white mt-5 py-3">
    <div class="container">
      <div class="text-center">
        Made with love from <a class="text-white" href="https://twitter.com/safrazik" target="_blank">@safrazik</a>
      </div>
    </div>
  </div>
</div>